/* <RadMenu / Default> */

.RadMenu_SIAN .rmRootGroup, .RadMenu_SIAN a.rmLink, .RadMenu_SIAN .rmGroup .rmText, .RadMenu_SIAN .rmLeftArrow, .RadMenu_SIAN .rmRightArrow, .RadMenu_SIAN .rmTopArrow, .RadMenu_SIAN .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png'); 	
	background-color: transparent;
	background-position: 0 -120px; /*FONDO TRANSPARENTE PARA EL MENU PRINCIPAL*/
}

.RadMenu_SIAN .rmRootGroup
{
	border: 1px solid #0583b3; /*background-repeat: repeat-x;*/ /*background-position: 0 -408px;*/ /*ORIGINAL #828282; */
	background-color: #039fdb; /*Cambiar, COLOR FONDO MENU PRINCIPAL, ORGINAL #60a4d3; */ 
	/*font-size:x-small ;	height: 30px; 	 	border-right: 2px solid white;*/
}

/* <Root items> */

.RadMenu_SIAN, .RadMenu_SIAN a.rmLink
{
	font: normal 15px/25px "Segoe UI" , Arial, sans-serif;
	color: #FFF; /*CAMBIAR*/
	text-decoration: none;
	vertical-align:middle;
}
 
.RadMenu_SIAN a.rmLink, .RadMenu_SIAN a.rmDisabled, .RadMenu_SIAN a.rmDisabled:hover
{
	background-position: 0px -100px; /*SEPARADOR ENTRE ELEMENTOS DEL MENU PRINCIPAL VALOR ORIGINAL -72*/
	
}

.RadMenu_SIAN .rmFirst a.rmLink, .RadMenu_SIAN .rmFirst a.rmLink:hover, .RadMenu_SIAN .rmLast .rmText, .RadMenu_SIAN .rmLast a.rmLink:hover .rmText, .RadMenu_SIAN .rmVertical a.rmLink, .RadMenu_SIAN .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_SIAN .rmVertical .rmFirst, .RadMenu_SIAN .rmVertical .rmLast
{
	background: none;
}

.RadMenu_SIAN a.rmLink:hover, .RadMenu_SIAN a.rmFocused, .RadMenu_SIAN a.rmSelected
{
	background-color: #a6d8fb; /*CAMBIAR Color al poner el cursor sobre el item. NIVEL INFERIOR*/
	color:#434b6f;
}

.RadMenu_SIAN .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding-left: 12px;
}

.RadMenu_SIAN .rmHorizontal a.rmRootLink
{
	padding-left: 0;
}

.RadMenu_SIAN .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_SIAN .rmHorizontal img.rmLeftImage
{
	margin: 4px -4px 0 6px;
}

.RadMenu_SIAN_rtl .rmHorizontal img.rmLeftImage
{
	margin: 4px 6px 0 -4px;
}

.RadMenu_SIAN .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_SIAN .rmVertical a.rmLink:hover, .RadMenu_SIAN .rmVertical a.rmFocused, .RadMenu_SIAN .rmVertical a.rmSelected, .RadMenu_SIAN .rmVertical a.rmExpanded, .RadMenu_SIAN .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	/*CAMBIAR*//*border-style: solid;
	border-color: #a6d8fb; 
	border-width: 1px 0;*/
}

.RadMenu_SIAN .rmVertical .rmFirst a.rmLink:hover, .RadMenu_SIAN .rmVertical .rmFirst a.rmFocused, .RadMenu_SIAN .rmVertical .rmFirst a.rmSelected, .RadMenu_SIAN .rmVertical .rmFirst a.rmExpanded, .RadMenu_SIAN .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_SIAN .rmVertical .rmLast a.rmLink:hover, .RadMenu_SIAN .rmVertical .rmLast a.rmFocused, .RadMenu_SIAN .rmVertical .rmLast a.rmSelected, .RadMenu_SIAN .rmVertical .rmLast a.rmExpanded, .RadMenu_SIAN .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_SIAN .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_SIAN a.rmExpanded, .RadMenu_SIAN a.rmExpanded:hover
{
	background-color: #a6d8fb; /*CAMBIAR*/
}

.RadMenu_SIAN a.rmDisabled, .RadMenu_SIAN a.rmDisabled:hover
{
	color: #a6d8fb;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_SIAN .rmGroup, .RadMenu_SIAN .rmMultiColumn, .RadMenu_SIAN .rmGroup .rmVertical
{
	/*ITEMS DEL MENU*/
	border: 1px solid #4383af; /*#979797;*/
	/*background: #fff url('Menu/rmVSprite.png') repeat-y 0 0;*/
	background-color: #039fdb; /*Cambiar, COLOR FONDO ITEMS*/  /*ORIGINAL #60a4d3;  */
	 
}

.RadMenu_SIAN .rmTopFix, .RadMenu_SIAN .rmBottomFix, .RadMenu_SIAN .rmRoundedCorners .rmGroup .rmItem, .RadMenu_SIAN .rmRoundedCorners li.rmFirstGroupColumn .rmItem, .RadMenu_SIAN .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem, .RadMenu_SIAN .rmRoundedCorners ul.rmHorizontal .rmFirst, .RadMenu_SIAN_Context.rmRoundedCorners .rmGroup .rmItem, .RadMenu_SIAN_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	/*background-image: url('Menu/rmVSprite.png'); 	background-color: #fff;  	background-repeat: repeat-y;*/
	 background-color: #60a4d3;  /*CAMBIAR. color de fondo del item cuando tiene EnableRoundedCorners="True"*/
}

* html .rmRoundedCorners_SIAN .rmGroup .rmItem, * html .rmRoundedCorners_SIAN ul.rmHorizontal .rmFirst
{
	/*background-image: url('Menu/rmVSprite.png'); 
	background-color: #000;
	background-repeat: repeat-y;*/
	 background-color: #4169E1;
}

.RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_SIAN .rmRoundedCorners .rmGroupColumn .rmItem, .RadMenu_SIAN .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem, .RadMenu_SIAN .rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrap .rmVertical, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_SIAN_Context.rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmGroup, * html .rmRoundedCorners_SIAN .rmScrollWrap .rmItem, * html .rmRoundedCorners_SIAN .rmHorizontal .rmItem, * html .rmRoundedCorners_SIAN .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_SIAN .rmRoundedCorners .rmGroupColumn
{
	background-color: #000;
}

.RadMenu_SIAN .rmBottomLeft, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer, .RadMenu_SIAN_Context.rmRoundedCorners ul.rmGroup, .RadMenu_SIAN .rmRoundedCorners ul.rmGroup, .RadMenu_SIAN .rmRoundedCorners .rmMultiColumn
{
	/*background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;*/
	background-color: #60a4d3;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer, * html .rmRoundedCorners_SIAN .rmGroup ul.rmGroup, * html .rmRoundedCorners_SIAN ul.rmGroup
{
	/*background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;*/
	 background-color: #60a4d3;
}

.RadMenu_SIAN .rmTopRight, .RadMenu_SIAN .rmBottomRight
{
	/*background-image: url('Menu/rmRoundedRight.png');
	background-color: transparent;
	background-repeat: no-repeat;*/
	 background-color: #60a4d3;
}

.RadMenu_SIAN .rmTopFix, .RadMenu_SIAN .rmBottomFix, .RadMenu_SIAN .rmRoundedCorners .rmGroup .rmFirst, .RadMenu_SIAN_Context.rmRoundedCorners .rmGroup .rmFirst, .rmRoundedCorners_SIAN .rmGroup .rmFirst
{
	border-color: #979797;
}

.RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmTopFix, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmTopArrow, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmBottomArrow, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmLeftArrow, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_SIAN_rtl .rmBottomLeft, .RadMenu_SIAN_rtl .rmRoundedCorners ul.rmGroup, .RadMenu_SIAN_rtl .rmRoundedCorners .rmMultiColumn, .RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_SIAN .rmScrollWrapContainer .rmBottomLeft, .rmRoundedCorners.RadMenu_SIAN_Context_rtl ul.rmGroup, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer
{
	/*background-image: url('Menu/rmRoundedLeft_rtl.png');*/
}

.RadMenu_SIAN_rtl .rmTopRight, .RadMenu_SIAN_rtl .rmBottomRight
{
	/*background-image: url('Menu/rmRoundedRight_rtl.png');*/
}

.RadMenu_SIAN_rtl li.rmTopFix, .RadMenu_SIAN_rtl li.rmBottomFix, .RadMenu_SIAN_rtl .rmRoundedCorners .rmGroup .rmItem, .rmRoundedCorners.RadMenu_SIAN_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_SIAN .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_SIAN_rtl .rmGroup, .RadMenu_SIAN_rtl .rmMultiColumn, .RadMenu_SIAN_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_SIAN .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_SIAN .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_SIAN .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_SIAN .rmRoundedCorners .rmScrollWrapContainer li.rmItem, .RadMenu_SIAN_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem, .rmRoundedCorners_SIAN .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_SIAN .rmGroup .rmItem a.rmLink, .RadMenu_SIAN .rmGroup .rmItem a.rmLink:hover, .RadMenu_SIAN .rmGroup .rmItem a.rmFocused, .RadMenu_SIAN .rmGroup .rmItem a.rmSelected, .RadMenu_SIAN .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_SIAN .rmGroup .rmLast a.rmLink, .RadMenu_SIAN .rmGroup .rmLast a.rmLink:hover, .RadMenu_SIAN .rmGroup .rmLast a.rmFocused, .RadMenu_SIAN .rmGroup .rmLast a.rmSelected, .RadMenu_SIAN .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_SIAN .rmGroup a.rmLink, .RadMenu_SIAN .rmGroup .rmText, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled:hover, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled .rmText, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	/*background-position: 0 500px; 
	background-repeat: no-repeat; 
	background-color: transparent;*/
}

.RadMenu_SIAN .rmGroup a.rmLink:hover, .RadMenu_SIAN .rmGroup a.rmFocused, .RadMenu_SIAN .rmGroup a.rmSelected, .RadMenu_SIAN .rmGroup a.rmExpanded
{
	background-position: 0 -138px;/*-138px EVITA QUE CAMBIE LA IMAGEN DE FONDO DE LA IZQ AL PONER EL CURSOR SOBRE EL ITEM CON FLECHA DERECHA*/
}

.RadMenu_SIAN .rmGroup a.rmLink:hover .rmText, .RadMenu_SIAN .rmGroup a.rmFocused .rmText, .RadMenu_SIAN .rmGroup a.rmSelected .rmText, .RadMenu_SIAN .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -100px; /*VALOR ORIGINAL -192, -100 EVITA QUE CAMBIE LA IMAGEN DE FONDO AL PONER EL CURSOR SOBRE EL ITEM SIN FLECHA*/
}

/* <expand arrows> */

.RadMenu_SIAN .rmGroup .rmExpandRight, .RadMenu_SIAN .rmGroup .rmExpandDown, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled .rmExpandRight, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled .rmExpandDown, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled:hover .rmExpandRight, .RadMenu_SIAN .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_SIAN .rmGroup a.rmLink:hover .rmExpandRight, .RadMenu_SIAN .rmGroup a.rmFocused .rmExpandRight, .RadMenu_SIAN .rmGroup a.rmSelected .rmExpandRight, .RadMenu_SIAN .rmGroup a.rmExpanded .rmExpandRight, .RadMenu_SIAN .rmGroup a.rmLink:hover .rmExpandDown, .RadMenu_SIAN .rmGroup a.rmFocused .rmExpandDown, .RadMenu_SIAN .rmGroup a.rmSelected .rmExpandDown, .RadMenu_SIAN .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -216px; /*-216 EVITA QUE CAMBIE LA IMAGEN DE FONDO AL PONER EL CURSOR SOBRE EL ITEM CON FLECHA DERECHA*/
}

.RadMenu_SIAN .rmGroup a.rmDisabled:hover .rmExpandRight, .RadMenu_SIAN .rmGroup a.rmDisabled:hover .rmExpandDown
{
	/*background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;*/
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_SIAN_rtl a.rmLink, .RadMenu_SIAN_rtl .rmRootGroup a.rmDisabled
{
	background-position: 100% -96px;
}

.RadMenu_SIAN_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_SIAN_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_SIAN_rtl .rmVertical a.rmExpanded .rmText, .RadMenu_SIAN_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_SIAN_rtl .rmGroup a.rmLink:hover, .RadMenu_SIAN_rtl .rmGroup a.rmFocused, .RadMenu_SIAN_rtl .rmGroup a.rmSelected, .RadMenu_SIAN_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_SIAN_rtl .rmGroup a.rmLink:hover .rmText, .RadMenu_SIAN_rtl .rmGroup a.rmFocused .rmText, .RadMenu_SIAN_rtl .rmGroup a.rmSelected .rmText, .RadMenu_SIAN_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_SIAN_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_SIAN_rtl .rmGroup a.rmLink:hover .rmExpandLeft, .RadMenu_SIAN_rtl .rmGroup a.rmFocused .rmExpandLeft, .RadMenu_SIAN_rtl .rmGroup a.rmSelected .rmExpandLeft, .RadMenu_SIAN_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_SIAN .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_SIAN .rmVertical .rmSlide, .RadMenu_SIAN .rmSlide .rmSlide, .RadMenu_SIAN_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_SIAN_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_SIAN_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_SIAN_rtl .rmVertical .rmSlide, .RadMenu_SIAN_rtl .rmSlide .rmSlide, .RadMenu_SIAN_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_SIAN .rmLeftArrow, .RadMenu_SIAN .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_SIAN .rmLeftArrow
{
	background-position: -8px -312px;
	border-right: 1px solid #828282;
}
.RadMenu_SIAN .rmRightArrow
{
	background-position: -482px -216px;
	border-left: 1px solid #828282;
}

.RadMenu_SIAN .rmTopArrow, .RadMenu_SIAN .rmBottomArrow, .RadMenu_SIAN .rmGroup .rmLeftArrow, .RadMenu_SIAN .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_SIAN .rmTopArrow
{
	background-position: 50% -367px;
	border-bottom: 1px solid #828282;
}
.RadMenu_SIAN .rmBottomArrow
{
	background-position: 50% -391px;
	border-top: 1px solid #828282;
}

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_SIAN .rmHorizontal .rmSeparator .rmText, .RadMenu_SIAN .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #A8A8A8;
}

.RadMenu_SIAN_Context .rmSeparator .rmText, .RadMenu_SIAN .rmHorizontal .rmGroup .rmSeparator .rmText, .RadMenu_SIAN .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */
