/* <RadMenu / Default> */

.RadMenu_SIAN2 .rmRootGroup, .RadMenu_SIAN2 a.rmLink, .RadMenu_SIAN2 .rmGroup .rmText, .RadMenu_SIAN2 .rmLeftArrow, .RadMenu_SIAN2 .rmRightArrow, .RadMenu_SIAN2 .rmTopArrow, .RadMenu_SIAN2 .rmBottomArrow
{
	/*background-image: url('Menu/rmSprite.png'); 	background-color: transparent;*/
}

.RadMenu_SIAN2 .rmRootGroup
{
	border: 1px solid #828282; /*background-repeat: repeat-x;*/ /*background-position: 0 -408px;*/
	background-color: #103786; /*Cambiar*/ /*	height: 30px; 	font-size:larger ; 	border-right: 2px solid white;*/
}

/* <Root items> */

.RadMenu_SIAN2, .RadMenu_SIAN2 a.rmLink
{
	font: normal 15px/23px "Segoe UI" , Arial, sans-serif;
	color: #FFF; /*CAMBIAR*/
	text-decoration: none;
}
 
.RadMenu_SIAN2 a.rmLink, .RadMenu_SIAN2 a.rmDisabled, .RadMenu_SIAN2 a.rmDisabled:hover
{
	background-position: 0 -72px;
}

.RadMenu_SIAN2 .rmFirst a.rmLink, .RadMenu_SIAN2 .rmFirst a.rmLink:hover, .RadMenu_SIAN2 .rmLast .rmText, .RadMenu_SIAN2 .rmLast a.rmLink:hover .rmText, .RadMenu_SIAN2 .rmVertical a.rmLink, .RadMenu_SIAN2 .rmVertical .rmText
{
	/*background-repeat: no-repeat;*/ /*background-position: 0 500px;*/
}

.RadMenu_SIAN2 .rmVertical .rmFirst, .RadMenu_SIAN2 .rmVertical .rmLast
{
	background: none;
}

.RadMenu_SIAN2 a.rmLink:hover, .RadMenu_SIAN2 a.rmFocused, .RadMenu_SIAN2 a.rmSelected
{
	background-color: #00adef; /*CAMBIAR*/
}

.RadMenu_SIAN2 .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding-left: 12px;
}

.RadMenu_SIAN2 .rmHorizontal a.rmRootLink
{
	padding-left: 0;
}

.RadMenu_SIAN2 .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_SIAN2 .rmHorizontal img.rmLeftImage
{
	margin: 4px -4px 0 6px;
}

.RadMenu_SIAN2_rtl .rmHorizontal img.rmLeftImage
{
	margin: 4px 6px 0 -4px;
}

.RadMenu_SIAN2 .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_SIAN2 .rmVertical a.rmLink:hover, .RadMenu_SIAN2 .rmVertical a.rmFocused, .RadMenu_SIAN2 .rmVertical a.rmSelected, .RadMenu_SIAN2 .rmVertical a.rmExpanded, .RadMenu_SIAN2 .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #00adef; /*CAMBIAR*/
	border-width: 1px 0;
}

.RadMenu_SIAN2 .rmVertical .rmFirst a.rmLink:hover, .RadMenu_SIAN2 .rmVertical .rmFirst a.rmFocused, .RadMenu_SIAN2 .rmVertical .rmFirst a.rmSelected, .RadMenu_SIAN2 .rmVertical .rmFirst a.rmExpanded, .RadMenu_SIAN2 .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_SIAN2 .rmVertical .rmLast a.rmLink:hover, .RadMenu_SIAN2 .rmVertical .rmLast a.rmFocused, .RadMenu_SIAN2 .rmVertical .rmLast a.rmSelected, .RadMenu_SIAN2 .rmVertical .rmLast a.rmExpanded, .RadMenu_SIAN2 .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_SIAN2 .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_SIAN2 a.rmExpanded, .RadMenu_SIAN2 a.rmExpanded:hover
{
	background-color: #00adef; /*CAMBIAR*/
}

.RadMenu_SIAN2 a.rmDisabled, .RadMenu_SIAN2 a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_SIAN2 .rmGroup, .RadMenu_SIAN2 .rmMultiColumn, .RadMenu_SIAN2 .rmGroup .rmVertical
{
	border: 1px solid #979797;
	background: #fff url('Menu/rmVSprite.png') repeat-y 0 0;
	background-color: #4169E1; /*Cambiar*/
}

.RadMenu_SIAN2 .rmTopFix, .RadMenu_SIAN2 .rmBottomFix, .RadMenu_SIAN2 .rmRoundedCorners .rmGroup .rmItem, .RadMenu_SIAN2 .rmRoundedCorners li.rmFirstGroupColumn .rmItem, .RadMenu_SIAN2 .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem, .RadMenu_SIAN2 .rmRoundedCorners ul.rmHorizontal .rmFirst, .RadMenu_SIAN2_Context.rmRoundedCorners .rmGroup .rmItem, .RadMenu_SIAN2_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	/*background-image: url('Menu/rmVSprite.png'); 	background-color: #fff;  	background-repeat: repeat-y;*/
	background-color: #00477f;
}

* html .rmRoundedCorners_SIAN .rmGroup .rmItem, * html .rmRoundedCorners_SIAN ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff;
	background-repeat: repeat-y;
	background-color: #4169E1;
}

.RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_SIAN2 .rmRoundedCorners .rmGroupColumn .rmItem, .RadMenu_SIAN2 .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem, .RadMenu_SIAN2 .rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrap .rmVertical, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_SIAN2_Context.rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmGroup, * html .rmRoundedCorners_SIAN .rmScrollWrap .rmItem, * html .rmRoundedCorners_SIAN .rmHorizontal .rmItem, * html .rmRoundedCorners_SIAN .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_SIAN2 .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_SIAN2 .rmBottomLeft, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer, .RadMenu_SIAN2_Context.rmRoundedCorners ul.rmGroup, .RadMenu_SIAN2 .rmRoundedCorners ul.rmGroup, .RadMenu_SIAN2 .rmRoundedCorners .rmMultiColumn
{
	background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer, * html .rmRoundedCorners_SIAN .rmGroup ul.rmGroup, * html .rmRoundedCorners_SIAN ul.rmGroup
{
	background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadMenu_SIAN2 .rmTopRight, .RadMenu_SIAN2 .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadMenu_SIAN2 .rmTopFix, .RadMenu_SIAN2 .rmBottomFix, .RadMenu_SIAN2 .rmRoundedCorners .rmGroup .rmFirst, .RadMenu_SIAN2_Context.rmRoundedCorners .rmGroup .rmFirst, .rmRoundedCorners_SIAN .rmGroup .rmFirst
{
	border-color: #979797;
}

.RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmTopFix, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmTopArrow, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmBottomArrow, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmLeftArrow, * html .rmRoundedCorners_SIAN .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_SIAN2_rtl .rmBottomLeft, .RadMenu_SIAN2_rtl .rmRoundedCorners ul.rmGroup, .RadMenu_SIAN2_rtl .rmRoundedCorners .rmMultiColumn, .RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_SIAN2 .rmScrollWrapContainer .rmBottomLeft, .rmRoundedCorners.RadMenu_SIAN2_Context_rtl ul.rmGroup, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_SIAN2_rtl .rmTopRight, .RadMenu_SIAN2_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_SIAN2_rtl li.rmTopFix, .RadMenu_SIAN2_rtl li.rmBottomFix, .RadMenu_SIAN2_rtl .rmRoundedCorners .rmGroup .rmItem, .rmRoundedCorners.RadMenu_SIAN2_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_SIAN2 .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_SIAN2_rtl .rmGroup, .RadMenu_SIAN2_rtl .rmMultiColumn, .RadMenu_SIAN2_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_SIAN2 .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_SIAN2 .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_SIAN2 .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_SIAN2 .rmRoundedCorners .rmScrollWrapContainer li.rmItem, .RadMenu_SIAN2_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem, .rmRoundedCorners_SIAN .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_SIAN2 .rmGroup .rmItem a.rmLink, .RadMenu_SIAN2 .rmGroup .rmItem a.rmLink:hover, .RadMenu_SIAN2 .rmGroup .rmItem a.rmFocused, .RadMenu_SIAN2 .rmGroup .rmItem a.rmSelected, .RadMenu_SIAN2 .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_SIAN2 .rmGroup .rmLast a.rmLink, .RadMenu_SIAN2 .rmGroup .rmLast a.rmLink:hover, .RadMenu_SIAN2 .rmGroup .rmLast a.rmFocused, .RadMenu_SIAN2 .rmGroup .rmLast a.rmSelected, .RadMenu_SIAN2 .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_SIAN2 .rmGroup a.rmLink, .RadMenu_SIAN2 .rmGroup .rmText, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled:hover, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled .rmText, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	/*background-position: 0 500px;*/ /*background-repeat: no-repeat;*/ /*background-color: transparent;*/
}

.RadMenu_SIAN2 .rmGroup a.rmLink:hover, .RadMenu_SIAN2 .rmGroup a.rmFocused, .RadMenu_SIAN2 .rmGroup a.rmSelected, .RadMenu_SIAN2 .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_SIAN2 .rmGroup a.rmLink:hover .rmText, .RadMenu_SIAN2 .rmGroup a.rmFocused .rmText, .RadMenu_SIAN2 .rmGroup a.rmSelected .rmText, .RadMenu_SIAN2 .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_SIAN2 .rmGroup .rmExpandRight, .RadMenu_SIAN2 .rmGroup .rmExpandDown, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled .rmExpandRight, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled .rmExpandDown, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled:hover .rmExpandRight, .RadMenu_SIAN2 .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_SIAN2 .rmGroup a.rmLink:hover .rmExpandRight, .RadMenu_SIAN2 .rmGroup a.rmFocused .rmExpandRight, .RadMenu_SIAN2 .rmGroup a.rmSelected .rmExpandRight, .RadMenu_SIAN2 .rmGroup a.rmExpanded .rmExpandRight, .RadMenu_SIAN2 .rmGroup a.rmLink:hover .rmExpandDown, .RadMenu_SIAN2 .rmGroup a.rmFocused .rmExpandDown, .RadMenu_SIAN2 .rmGroup a.rmSelected .rmExpandDown, .RadMenu_SIAN2 .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_SIAN2 .rmGroup a.rmDisabled:hover .rmExpandRight, .RadMenu_SIAN2 .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_SIAN2_rtl a.rmLink, .RadMenu_SIAN2_rtl .rmRootGroup a.rmDisabled
{
	background-position: 100% -96px;
}

.RadMenu_SIAN2_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_SIAN2_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_SIAN2_rtl .rmVertical a.rmExpanded .rmText, .RadMenu_SIAN2_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_SIAN2_rtl .rmGroup a.rmLink:hover, .RadMenu_SIAN2_rtl .rmGroup a.rmFocused, .RadMenu_SIAN2_rtl .rmGroup a.rmSelected, .RadMenu_SIAN2_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_SIAN2_rtl .rmGroup a.rmLink:hover .rmText, .RadMenu_SIAN2_rtl .rmGroup a.rmFocused .rmText, .RadMenu_SIAN2_rtl .rmGroup a.rmSelected .rmText, .RadMenu_SIAN2_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_SIAN2_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_SIAN2_rtl .rmGroup a.rmLink:hover .rmExpandLeft, .RadMenu_SIAN2_rtl .rmGroup a.rmFocused .rmExpandLeft, .RadMenu_SIAN2_rtl .rmGroup a.rmSelected .rmExpandLeft, .RadMenu_SIAN2_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_SIAN2 .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_SIAN2 .rmVertical .rmSlide, .RadMenu_SIAN2 .rmSlide .rmSlide, .RadMenu_SIAN2_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_SIAN2_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_SIAN2_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_SIAN2_rtl .rmVertical .rmSlide, .RadMenu_SIAN2_rtl .rmSlide .rmSlide, .RadMenu_SIAN2_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_SIAN2 .rmLeftArrow, .RadMenu_SIAN2 .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_SIAN2 .rmLeftArrow
{
	background-position: -8px -312px;
	border-right: 1px solid #828282;
}
.RadMenu_SIAN2 .rmRightArrow
{
	background-position: -482px -216px;
	border-left: 1px solid #828282;
}

.RadMenu_SIAN2 .rmTopArrow, .RadMenu_SIAN2 .rmBottomArrow, .RadMenu_SIAN2 .rmGroup .rmLeftArrow, .RadMenu_SIAN2 .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_SIAN2 .rmTopArrow
{
	background-position: 50% -367px;
	border-bottom: 1px solid #828282;
}
.RadMenu_SIAN2 .rmBottomArrow
{
	background-position: 50% -391px;
	border-top: 1px solid #828282;
}

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_SIAN2 .rmHorizontal .rmSeparator .rmText, .RadMenu_SIAN2 .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #A8A8A8;
}

.RadMenu_SIAN2_Context .rmSeparator .rmText, .RadMenu_SIAN2 .rmHorizontal .rmGroup .rmSeparator .rmText, .RadMenu_SIAN2 .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */
