<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sianwebmty_CCEntities" connectionString="metadata=res://*/CuentasCoorporativas.SIANWebMTY_CC.csdl|res://*/CuentasCoorporativas.SIANWebMTY_CC.ssdl|res://*/CuentasCoorporativas.SIANWebMTY_CC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=13.84.160.245;Initial Catalog=sianwebmty;Persist Security Info=True;User ID=sa;Password=K3yQuimica10803!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>