<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="sianwebmty_gEntities" connectionString="metadata=res://*/SIANWebMTY_G.csdl|res://*/SIANWebMTY_G.ssdl|res://*/SIANWebMTY_G.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=189.206.150.17;initial catalog=sianwebmty_G;user id=KeyWebUsr;password=edc10rfv@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sianwebmty_CCEntities" connectionString="metadata=res://*/CuentasCoorporativas.SIANWebMTY_CC.csdl|res://*/CuentasCoorporativas.SIANWebMTY_CC.ssdl|res://*/CuentasCoorporativas.SIANWebMTY_CC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.84.160.245;initial catalog=sianwebmty ;user id=sa;password=K3yQuimica10803!; multipleactiveresultsets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />

  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    
    
    <!-- 10.1.0.165 
    <add name="sianwebmty_gEntities" connectionString="metadata=res://*/SIANWebMTY_G.csdl|res://*/SIANWebMTY_G.ssdl|res://*/SIANWebMTY_G.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.165;initial catalog=sianweb400ene2017;user id=sa;password=sistemas;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="sianwebmty_gEntities" connectionString="metadata=res://*/SIANWebMTY_G.csdl|res://*/SIANWebMTY_G.ssdl|res://*/SIANWebMTY_G.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.165;initial catalog=sianwebmty_pruebascrmII;user id=sa;password=sistemas;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SIANCentralEntities" connectionString="metadata=res://*/SIANCentral.SIANCentral.csdl|res://*/SIANCentral.SIANCentral.ssdl|res://*/SIANCentral.SIANCentral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SIANCentral;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--add name="SIANCentralEntities1" connectionString="metadata=res://*/SIANCentral.SIANCentral.csdl|res://*/SIANCentral.SIANCentral.ssdl|res://*/SIANCentral.SIANCentral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SIANCentral;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="SIANWEBCentralEntities" connectionString="metadata=res://*/SIANWebCentral.SIANWebCentral.csdl|res://*/SIANWebCentral.SIANWebCentral.ssdl|res://*/SIANWebCentral.SIANWebCentral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SIANWEBCentral;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>